<div class="container">
  <div class="card">
    <div class="card-header"><h1 class="text-center"> Users (<%= @users.count %>)</h1></div>
    <div class="card-body">
      <table class="table table-striped text-center">
        <thead>
          <th>Email</th>
          <th>Status</th>
          <th>Courses Created</th>
          <th>Roles</th>
          <th>Last Signed In</th>
          <th>Number Of Login</th>
          <th>Actions</th>
        </thead>
        <tbody>
          <%= render @users %>
        </tbody>
      </table>
    </div>
  </div>
</div>