<div class="container">

<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">About CoursePool</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <p><%= link_to "Home Page", root_path %></p>
    <p><%= link_to "About Page", about_path %></p>
    <p><%= link_to "Privacy Page", privacy_path%></p>
  </div>
</div>

</div>

