<div class="col">
  <div class="card">
    <div class="card-header">
      <%= link_to lesson.title, lesson_path(lesson) %>
    </div>
    <div class="card-body">
      <%= lesson.content %>
    </div>
    <div class="card-footer">
      <% if current_user && policy(lesson.course).edit? %>
        <%= link_to 'Edit', edit_lesson_path(lesson), class: 'btn btn-sm btn-info' %>
        <%= link_to 'Destroy', lesson, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-sm' %>
      <% else %>
        <h4>Authers Area</h4>
      <% end %>
    </div>
  </div>
</div>