<div class="container">
  <div class="row">
    <div class="col-md-6">
      <%= render 'courses/course', course: @course %>
    </div>
    <div class="col-md-6">
      <%= render @lessons %>
    </div>
</div>