<div class="container">
  <div class="row">
    <div class="col-md-6">
      <%= render 'courses/course', course: @course %>
    </div>
    <div class="col-md-6">
      <%= link_to "Add Lesson", new_course_lesson_path(@course), class: 'btn btn-info btn-lg d-grid gap-2' %>
      <br/>
      <%= render @lessons, course: @course %>
    </div>
</div>